doctype html
html
	head
		include ./jade/_meta.jade

	body(v-cloak)

		.toolbar
			h1.toolbar__title
				| Feedback
				br
				| Displacement

			.toolbar__control.ctrl

				ctrl-dropdown(name='TYPE')
				ctrl-range
				ctrl-offset
				ctrl-angle
				ctrl-range2d
				ctrl-offset2d

		.easel
			.brush-cursor

			.canvas-wrapper
				canvas#canvas


	script(src='./js/dat.gui.min.js')
	script(src='./js/index.js')
