doctype html
html
	head
		include ./jade/_meta.jade

	body(v-cloak)
		
		//- .center-v
		//- .center-h
		
		.toolbar
		
		.easel
			.brush-cursor
			
			.canvas-wrapper
				canvas#canvas
	

	script(src='./js/dat.gui.min.js')
	script(src='./js/index.js')
