doctype html
html
	head
		include ./jade/_meta.jade

	body(v-cloak)
		
		//- .center-v
		//- .center-h
		
		.toolbar.row
			h1.toolbar__title Feedback Displacement
			
			label Flow Type
			select(v-model='flowType' v-on:change='onChangeFlowType()')
				option(v-for='flow in flows' v-bind:value='$index') {{flow.name}}
			
		
		.easel
			.brush-cursor
			
			.canvas-wrapper
				canvas#canvas
	

	script(src='./js/dat.gui.min.js')
	script(src='./js/index.js')
