// // @import "nib"

// // global-reset()

html, body
	padding 0
	margin 0
	width 100%
	height 100%
	overflow hidden

body
	background black

//-----------------------------------
// control

.control
	position absolute
	right 0
	bottom 0
	width 30%
	height audo
	z-index 10
	background rgba(0, 0, 0, .1)

.control__row
	position relative
	width 100%
	height 10px

	& > *
		position absolute
		top 0
		left 0
		width 100%
		height 100%

.control__volume
	background white
	opacity 0.5
	transform-origin top left

.control__threshold
	position relative
	width 1px
	background red


.control__coat-source
	display none
	width 100%
	height auto
